@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>



    <h3>OrchardCore CMS Instrutions</h3>
    <ul>
        <li>
            Login  <a href="/Admin">Here</a>
            UserName : Admin
            Password : pass

        </li>

        <li>Tayyab blog Post : <a href="/blogpost/tayyab-blog-post-1">Click Here</a></li>
    </ul>

</div>
